<a href="https://colab.research.google.com/github/19PA1A0512/Python-basics/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

In [7]:
df=pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

Here preprocessing is done to check whether there are null values

In [8]:
df.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [9]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [10]:
features=list(df.columns[:8])
features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [0]:
x=df[features]
y=df['Outcome']

#We are training our data.data.Fdata.data.Fodata.data.For that we have split our data into 2 parts train,test to avoid overfitting

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=0)

We use decision tree classifier here to solve the problem.

In [0]:
clf=DecisionTreeClassifier ()
clf=clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)

In [0]:
print(metrics.accuracy_score(Y_test,y_pred))

0.7857142857142857

In [0]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.81      0.84       107
           1       0.63      0.72      0.67        47

    accuracy                           0.79       154
   macro avg       0.75      0.77      0.76       154
weighted avg       0.80      0.79      0.79       154

In [0]:
from sklearn.ensemble import RandomForestClassifier

Now we are trying randomforest

In [0]:
clf1=RandomForestClassifier()
clf1.fit(X_train,Y_train)
y_pred1=clf1.predict(X_test)
print(metrics.accuracy_score(Y_test,y_pred1))

0.8116883116883117

In [0]:
print(classification_report(Y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.85      0.88      0.87       107
           1       0.70      0.66      0.68        47

    accuracy                           0.81       154
   macro avg       0.78      0.77      0.77       154
weighted avg       0.81      0.81      0.81       154

In [0]:
from sklearn.ensemble import AdaBoostClassifier

Here we are performing adboost classifier

In [0]:
clf2=AdaBoostClassifier(random_state=0,n_estimators=100)

clf2.fit(X_train,Y_train)
y_pred2=clf2.predict(X_test)
print(metrics.accuracy_score(Y_test,y_pred2))

0.8116883116883117

In [0]:
print(classification_report(Y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.87      0.86      0.86       107
           1       0.69      0.70      0.69        47

    accuracy                           0.81       154
   macro avg       0.78      0.78      0.78       154
weighted avg       0.81      0.81      0.81       154